$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
$simple-line-font-path: '~simple-line-icons/fonts/';

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
