<template>
  <div class="row">
    <div class="col-md-12 ">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <div class="p-2">
              <h5 class="card-title">Medewerker inschrijvingen</h5>
            </div>
            <div class="ml-auto p-2">
              <a class="btn btn-success" href="/stafplicatie/medewerker/create">
                <i class="fas fa-user-plus"></i>&nbsp; Inschrijving aanmaken
              </a>
              <a v-show="false" role="button" class="btn btn-success" href="/stafplicatie/medewerker/recreate">
                <i class="fas fa-user-friends"></i>&nbsp; Herinschrijving aanmaken
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <vue-good-table
                :columns="columns"
                :rows="items"
                :pagination-options="paginationOptions"
            >
              <template slot="table-row" slot-scope="props">
                    <span v-if="props.column.field === 'actions'">
                      <a role="button" class="btn btn-primary"
                         :href="'/stafplicatie/medewerker/' + props.row.id + '/edit'">
                          <span class="fas fa-edit"></span>
                      </a>
                                  <button class="btn btn-danger"
                                          @click="deleteMedewerker(props.row.id)">
                                      <i class="fas fa-trash"></i>
                                  </button>
                    </span>
                <span v-else>
                      {{ props.formattedRow[props.column.field] }}
                    </span>
              </template>
            </vue-good-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {VueGoodTable} from 'vue-good-table';

export default {
  name: "MedewerkerIndexPage",
  components: {
    VueGoodTable
  },
  data() {
    return {
      columns: [
        {
          label: 'Voornaam',
          field: 'persoonsgegevens.voornaam',
          filterOptions: {
            enabled: true,
            placeholder: 'Zoeken',
          },
        },
        {
          label: 'Achternaam',
          field: 'persoonsgegevens.achternaam',
          filterOptions: {
            enabled: true,
            placeholder: 'Zoeken',
          },
        },
        {
          label: 'Email',
          field: 'persoonsgegevens.email',
          filterOptions: {
            enabled: true,
            placeholder: 'Zoeken',
          },
        },
        {
          label: 'Telefoon',
          field: 'persoonsgegevens.mobiel',
          filterOptions: {
            enabled: true,
            placeholder: 'Zoeken',
          },
        },
        {
          label: '',
          field: 'actions',
          sortable: false,
        },
      ],
      paginationOptions: {
        enabled: true,
        mode: 'records',
        perPage: 10,
        position: 'top',
        perPageDropdown: [5, 10, 50],
        nextLabel: 'Volgende',
        prevLabel: 'Vorige',
        rowsPerPageLabel: 'Rijen per pagina',
        ofLabel: 'van de',
        pageLabel: 'Pagina', // for 'pages' mode
        allLabel: 'Alle',
      },
      items: [],
    }
  },

  created() {
    axios.get(`/stafplicatie/api/medewerker`)
        .then(({data}) => this.items = data)
        .catch(() => flash('Error!', 'error'));
  },

  mounted() {
  },

  methods: {
    deleteMedewerker(id) {
      axios.delete(`/stafplicatie/medewerker/${id}`)
          .then(({data}) => this.items.splice(_.findIndex(this.items, m => m.id === id), 1))
          .catch(() => flash('Error!', 'error'));
    }
  }
}
</script>

<style scoped>

</style>