<template>
    <tr @click="showDetails" :class="deadlineIndicator">
        <td class="d-table-cell" v-text="data.beschrijving"></td>
        <td class="d-none d-md-table-cell">
            <div v-for="user in actiepunt.assignedUsers" v-text="user.name" class="badge badge-pill mx-1"
                 :class="isUsersAp(user)"></div>
        </td>
        <td class="d-none d-lg-table-cell" v-text="createdAt"></td>
        <td class="d-none d-lg-table-cell" v-text="data.deadline"></td>
        <td class="d-table-cell">
            <button class="btn" :class="{ 'btn-success': !done, 'btn-danger': done } " @click.stop="check">
                <i class="fas" :class="{ 'fa-check': !done, 'fa-times': done }"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['actiepunt'],

        data() {
            return {
                data: this.actiepunt,
            }
        },

        computed: {
            done() {
                return !!this.data.deleted_at
            },
            createdAt() {
                return moment(this.data.created_at).format('YYYY-MM-DD');
            },
            deadlineIndicator() {
                if (!this.data.deleted_at) {
                    if (moment(this.data.deadline).isBefore(moment().startOf('day'))) {
                        return 'table-danger';
                    } else if (moment(this.data.deadline).isSame(moment(), 'day')) {
                        return 'table-warning';
                    }
                }
            }
        },

        methods: {
            check() {
                if (this.data.deleted_at) {
                    axios.post(`/stafplicatie/api/actiepunt/${this.data.id}/status`)
                        .then(() => events.$emit('notDone', this.data.id))
                        .catch(() => toastr.error('Er ging iets mis bij het incompleet markeren!'));
                } else {
                    axios.delete(`/stafplicatie/api/actiepunt/${this.data.id}/status`)
                        .then(() => events.$emit('done', this.data.id))
                        .catch(() => toastr.error('Er ging iets mis bij het compleet markeren!'));
                }
                event.stopPropagation();
            },
            isUsersAp(user) {
                return user.id === window.app.user.id ? 'badge-primary' : 'badge-secondary';
            },
            showDetails() {
                events.$emit('openDetails', this.data.id);
            },
        }
    }
</script>