<template>
    <div class="card w-100">
        <div class="card-body">
            <div class="card-title">Jouw 5 oudste actiepunten</div>
            <table class="table table-striped mh-100">
                <tbody >
                <tr v-for="actiepunt in shortList">
                    <td v-text="actiepunt"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ActiepuntenList",

        props: ['actiepunten'],

        computed: {
            shortList() {
                return _.slice(this.actiepunten, 0, 5);

            }
        }
    }
</script>

<style scoped>

</style>