<template>
    <tr>
        <td class="d-table-cell"
            v-text="fullName"></td>
        <td class="d-none d-lg-table-cell" v-text="data.persoon.email"></td>
        <td class="d-none d-lg-table-cell" v-text="type"></td>
        <td class="d-none d-md-table-cell">
            <payment-status-badge :status="data.latest_betaling.status"></payment-status-badge>
        </td>
        <td class="d-none d-lg-table-cell">
            <present-status-badge :presentie="data.presentie"></present-status-badge>
        </td>
        <td>
            <a class="btn btn-primary" :href="url"><i class="fas fa-eye"></i></a>
        </td>
    </tr>
</template>

<script>
    export default {
        props: ['inschrijving'],

        data() {
            return {
                data: this.inschrijving,
            }
        },

        computed: {
            fullName() {
                return `${this.data.persoon.voornaam} ${this.data.persoon.achternaam}`;
            },
            type() {
                return _.upperFirst(this.data.latest_betaling.type);
            },

            url() {
                return `/stafplicatie/inschrijving/${this.data.id}`;
            },

        }
    }
</script>