<template>
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Totale aantal inschrijvingen per maand</h5>
            <canvas ref="registrationsMonthly"></canvas>
        </div>
    </div>
</template>

<script>
    import Chart from 'chart.js';
    import moment from 'moment';

    export default {
        name: "MonthlyRegistrationStatistics.vue",

        props: ['registrations'],

        data() {
            return {
                chart: {},
                data: {}
            }
        },

        mounted() {

        },

        computed: {
            lastYear() {
                return moment().subtract(1, 'year').format('Y');
            }
        },

        watch: {
            registrations(newData) {
                this.chart = new Chart(this.$refs.registrationsMonthly.getContext('2d'), {
                    type: 'line',
                    data: {
                        labels: _.map(Object.keys(newData.monthly), (item) => moment.months(--item)),
                        datasets: [
                            {
                                "label": newData.year,
                                "data": Object.values(newData.monthly),
                                "borderColor": '#87A330'
                            }
                        ]
                    },
                    options: {
                        legend: {
                            display: true
                        }
                    }
                });
                axios.get(`api/statistics/${this.lastYear}/registrations`)
                    .then(({data}) => {
                        this.chart.data.datasets.push(
                            {
                                "label": data.year,
                                "data": Object.values(data.monthly),
                                "borderColor": '#CAD593'
                            }
                        );
                        this.chart.update();
                    })
            }
        }
    }
</script>

<style scoped>

</style>