<template>
    <tr>
        <th class="align-middle d-table-cell" scope="row" v-text="nieuwsbericht.id"></th>
        <td class="align-middle d-none d-md-table-cell" v-text="nieuwsbericht.titel"></td>
        <td class="align-middle d-none d-md-table-cell" v-text="nieuwsbericht.created_at"></td>
        <td class="align-middle">
            <a role="button" class="btn btn-primary"
               :href="'/stafplicatie/nieuwsbericht/' + nieuwsbericht.id"><span
                    class="fas fa-eye"></span>
            </a>
            <button class="btn btn-danger" @click="deleteBericht()">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "NieuwsberichtTableRow",

        props: ['bericht'],

        data() {
            return {
                nieuwsbericht: this.bericht
            }
        },

        methods: {
            deleteBericht() {
                axios.delete('/stafplicatie/nieuwsbericht/' + this.nieuwsbericht.id)
                    .then(response => {
                        toastr.success('Bericht verwijderd!');
                        this.$emit('deleted', this.nieuwsbericht.id);
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                    })
                ;
            }
        },

    }
</script>