<template>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="pageTitle">Pagina titel:</label>
                    <input class="form-control" id="pageTitle" v-model="page.titel">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="pageContent">Tekst:</label>
                    <textarea class="form-control" id="pageContent" v-model="page.tekst"
                              style="height: 435px"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <div class="form-group">
                    <a class="btn btn-primary" href="/stafplicatie/pagina">Terug</a>
                    <button class="btn btn-success" @click="saveData()">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['pageId'],

        components: {},

        data() {
            return {
                page: {}
            };
        },

        created() {
            axios.get(`/stafplicatie/api/pagina/${this.pageId}`)
                .then(result => this.page = result.data)
                .catch(error => console.error(error));
        },

        methods: {
            saveData() {
                axios.post(`/stafplicatie/api/pagina/${this.pageId}`, this.page)
                    .then(() => toastr.success('Opgeslagen!'))
                    .catch(() => toastr.error('Iets ging er mis...'));
            }
        }
    }
</script>