<template>
    <span class="badge badge-pill" :class="paymentLabelColor" v-text="statusText"></span>
</template>

<script>
    export default {
        props: ['status'],

        computed: {
            statusText() {
                return _.upperFirst(this.status);
            },
            paymentLabelColor() {
                return {
                    'badge-warning': this.status === 'open',
                    'badge-success': this.status === 'paid',
                    'badge-danger': this.status !== 'open' && this.status !== 'paid',
                }
            }
        },
    }
</script>