<template>
    <span class="badge badge-pill" :class="presentLabelColor" v-text="present"></span>
</template>

<script>
    export default {
        props: ['presentie'],

        computed: {
            present() {
                return _.upperFirst(this.presentie);
            },
            presentLabelColor() {
                return {
                    'badge-primary': this.presentie === 'open',
                    'badge-success': this.presentie === 'aanwezig',
                    'badge-danger': this.presentie === 'afwezig' || this.presentie === 'afgemeld',
                }
            }
        }
    }
</script>