<template>
    <tr>
        <th class="align-middle d-table-cell" scope="row" v-text="sponsor.naam"></th>
        <td class="align-middle d-none d-lg-table-cell"><a :href="sponsor.url" v-text="sponsor.url"></a></td>
        <td class="align-middle d-none d-md-table-cell">
            <div class="row">
                <div class="col">
                    <span class="badge"
                          :class="sponsor.deleted_at ? 'badge-danger' : 'badge-success'"
                          v-text="sponsor.deleted_at ? 'Inactief' : 'Actief'"></span>
                </div>
                <div class="col">
                    <label class="switch switch-label switch-success">
                        <input type="checkbox" class="switch-input" :checked="!sponsor.deleted_at"
                               @change="activate()">
                        <span class="switch-slider" :data-checked="'\u2713'"
                              :data-unchecked="'\u2715'"></span>
                    </label>
                </div>
            </div>
        </td>
        <td class="align-middle d-none d-lg-table-cell">
            <img :src="sponsor.logo" :alt="'Sponsor Logo ' + sponsor.naam"
                 width="100px" height="100px">
        </td>
        <td class="align-middle">
            <a role="button" class="btn btn-primary" :href="'/stafplicatie/sponsor/' + sponsor.id + '/edit'">
                <span class="fas fa-edit"></span>
            </a>
            <button v-show="sponsor.deleted_at" class="btn btn-danger" @click="remove()">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "SponsorTableRow",

        props: ['data'],

        data() {
            return {
                sponsor: this.data
            }
        },

        methods: {
            remove() {
                axios.delete('/stafplicatie/sponsor/' + this.sponsor.id)
                    .then(response => {
                        toastr.success('Sponsor verwijderd!');
                        this.$emit('deleted', this.sponsor.id);
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                    });
            },
            activate() {
                if (this.sponsor.deleted_at) {
                    axios.post('/stafplicatie/api/sponsor/' + this.sponsor.id + '/activate')
                        .then(result => {
                            this.sponsor.deleted_at = null;
                        })
                        .catch(error => {
                            toastr.error(error.response.data);
                        });
                } else {
                    axios.delete('/stafplicatie/api/sponsor/' + this.sponsor.id + '/activate')
                        .then(result => {
                            this.sponsor.deleted_at = moment().format('YYYY-MM-DD HH:mm:ss');
                        })
                        .catch(error => {
                            toastr.error(error.response.data);
                        });
                }
            }
        },

    }
</script>