<template>
    <div class="h-100 w-100 d-flex align-items-stretch">
        <div :class="[backgroundClass, 'mb-4', 'w-100', 'd-flex', 'align-items-stretch', 'white', 'rounded']">
            <div class="p-2 d-flex align-items-center">
                <i :class="['fa-3x', icon]"></i>
            </div>
            <div class="p-2 d-flex flex-column align-self-center">
                <div><h5 v-text="text"></h5></div>
                <div><h5 class="font-weight-bold mb-0" v-text="number"></h5></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "StatisticsCard",

        props: {
            'icon': {
                default: 'icon-user'
            },
            'text': {
                default: 'Biertjes'
            },
            'number': {
                default: 0
            },
            'background': {
                default: 'success'
            }
        },

        computed: {
            backgroundClass() {
                return `bg-${this.background}`;
            }
        }
    }
</script>

<style scoped>

</style>