<template>
    <tr>
        <th class="align-middle d-table-cell" scope="row" v-text="persoon.voornaam + ' ' + persoon.achternaam"></th>
        <td class="align-middle d-none d-md-table-cell" v-text="persoon.email"></td>
        <td class="align-middle">
          <a role="button" class="btn btn-primary"
             :href="'/stafplicatie/persoon/' + persoon.id">
            <span class="fas fa-eye"></span>
          </a>
          <a role="button" class="btn btn-primary"
               :href="'/stafplicatie/persoon/' + persoon.id + '/edit'">
                <span class="fas fa-edit"></span>
            </a>
<!--            <button class="btn btn-danger"-->
<!--                    @click="deleteMedewerker()">-->
<!--                <i class="fas fa-trash"></i>-->
<!--            </button>-->
        </td>
    </tr>
</template>

<script>
    export default {
        name: "PersoonTableRow",

        props: ['persoon'],

        data() {
            return {
                persoon: this.persoon
            }
        },

        methods: {
            deletePersoon() {
                axios.delete('/stafplicatie/persoon/' + this.persoon.id)
                    .then(response => {
                        toastr.success('Persoon verwijderd!');
                        this.$emit('deleted', this.persoon.id);
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                    })
                ;
            },
        },
    }
</script>