<template>
  <div>
    <div v-for="registration in orderedRegistrations" :key="registration.id">
      <registratie :registration="registration"></registratie>
    </div>
  </div>
</template>

<script>
import Registratie from "./Registratie";
export default {
  components: {Registratie},
  props: ['registrations'],
  name: "RegistrationsList",

  data() {
    return {
      data: this.registrations
    }
  },

  computed : {
    orderedRegistrations() {
      return _.orderBy(this.data, 'jaar', 'desc')
    }
  }

}
</script>

<style scoped>

</style>