<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between" @click="toggleCard()">
      <div class="d-flex align-items-center">
        <button class="btn btn-primary" type="button">
          <span v-text="data.jaar"></span>
        </button>
        <h5 class="m-0 pl-1"><span class="badge bg-secondary">Inschrijving</span></h5>
      </div>
      <div class="d-flex align-items-center">
        <span class="fas" :class="{'fa-chevron-circle-down': open, 'fa-chevron-circle-left': !open}"></span>
      </div>
    </div>
    <div :id="cardId" class="collapse">
      <div class="card-body">
        <div>
          Keuzes:
          <div class="row">
            <div class="col-6">
              1e:
              <span v-for="keuze in data.eerste_keus" :key="keuze.id" v-text="`${keuze.naam} `"></span>
            </div>
            <div class="col-6">2e:
              <span v-for="keuze in data.tweede_keus" :key="keuze.id" v-text="`${keuze.naam} `"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Registratie",
  props: ['registration'],

  data() {
    return {
      data: this.registration,
      cardId: `collapse${this.registration.id}`,
      open: false,
    }
  },

  mounted() {
    $(`#${this.cardId}`).collapse({ toggle: false })
  },

  methods: {
    toggleCard() {
      $(`#${this.cardId}`).toggle();
      this.open = !this.open;
    }
  }
}
</script>

<style scoped>

</style>