<template>
    <a id="button" @mousedown="play_audio" @mouseup="popup_button">
        <img :src="imgSrc" id="img-btn" alt="DIKKE KNOP JONGE">
    </a>
</template>

<script>
    export default {

        data() {
            return {
                i: 1,
                audioTracks: {},
                imgSrc: '/assets/website/img/airhorn/btn_up.png'
            }
        },

        created() {
            for (let j = 0; j < 12; j++) {
                this.audioTracks[j] = new Audio('/assets/website/sound/instantrapairhorn.mp3');
            }
        },

        methods: {
            play_audio() {
                if (this.i >= 12) {
                    this.i = 1;
                }
                this.audioTracks[this.i].play();
                this.i++;
                this.imgSrc = '/assets/website/img/airhorn/btn_down.png'
            },

            popup_button() {
                this.imgSrc = '/assets/website/img/airhorn/btn_up.png';
            }
        }
    }
</script>