<template>
    <datepicker class="datepicker" :disabled-dates="disabledDates" :format="format" :language="language"
                name="geboortedatum" id="geboortedatum" placeholder="05-03-2000" :value="date">
    </datepicker>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import {nl} from 'vuejs-datepicker/dist/locale';
    import moment from 'moment';

    export default {
        name: "BirthdatePickerComponent",
        components: {Datepicker},
        comments: {
            Datepicker
        },
        props: ['oldValue'],

        data() {
            return {
                format: "dd-MM-yyyy",
                language: nl,
                date: this.oldValue ? moment(this.oldValue, "DD-MM-YYYY").toDate() : moment().startOf('year').subtract(18, 'years').toDate(),
                disabledDates: {
                    to: moment().startOf('year').subtract(30, 'years').toDate(),
                    from: moment().endOf('year').subtract(16, 'years').toDate()
                }
            }
        }
    }
</script>

<style scoped>

</style>
