<template>
    <div>
        Wil je ons helpen door wat feedback te geven bij deze fout? Of gewoon zeggen dat we een prut website hebben? Klik dan <a href="#" v-on:click="showErrorReportDialog">hierrrr</a>
        <br/><br/>
        Error ID: <span v-text="eventId"></span>
    </div>
</template>

<script>
    import {init, showReportDialog} from '@sentry/browser';

    export default {
        props: ['eventId'],

        created() {
            init({
                dsn: 'https://f6ec30b0f3ba41548c7a16481acf45ed@sentry.io/1394897'
            });
        },

        methods: {
            showErrorReportDialog() {
                showReportDialog({
                    eventId: this.eventId,
                    lang: 'nl'
                });
            }
        }
    }
</script>