<template>
    <div class="box header full">
        <div class="bg_sky"></div>
        <div class="bg_sky_overlay"></div>
        <div class="bg_grass_far"></div>
        <div class="bg_grass_close"></div>
        <div class="clouds">
            <div class="cloud01" style="right: -2000px"></div>
            <div class="cloud02" style="right: -2000px"></div>
            <div class="cloud03" style="right: -2000px"></div>
            <div class="cloud04" style="right: -2000px"></div>
            <div class="cloud05" style="right: -2000px"></div>
        </div>
        <div class="viewport">
            <div class="sun"></div>

            <div class="pool"></div>
            <div class="tent"></div>
            <div class="tables"></div>
            <div class="trees first"></div>
            <div class="trees second"></div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },

        mounted() {
            this.sunFade();
            setInterval(() => this.cloudLoop(), Math.floor(Math.random() * 2000 + 2000));
        },

        methods: {
            sunFade() {
                let sun = $('.sun');
                sun.animate({opacity: 0.8}, 2000, 'linear', () => sun.animate({opacity: 1}, 2000, () => this.sunFade()));
            },

            cloudLoop() {
                const cloud = this.nextCloudName();
                if (!cloud.is(':animated')) {
                    cloud.css({right: (0 - cloud.width()), top: this.calculateTopPosition()});
                    cloud.animate({
                        right: '+=' + ($('.clouds').width() + cloud.width())
                    }, this.calculateSpeed(), 'linear', () => this.cloudLoop());
                }
            },

            calculateTopPosition() {
                return Math.floor(Math.random() * 150);
            },

            calculateSpeed() {
                return Math.floor(Math.random() * 20000 + 25000);
            },

            nextCloudName() {
                let numberOfClouds = 5;
                const nextCloud = Math.floor(Math.random() * numberOfClouds + 1);
                return $('.cloud0' + nextCloud);
            }
        }
    }
</script>

<style scoped>
    .box.header {
        z-index: 10;
        position: absolute;
        height: 385px;
        width: 100%;
        margin: 0 auto;
        top: 0;
        background: #2d2d2d;
    }

    .viewport {
        position: relative;
        height: 385px;
        width: 992px;
        margin: 0 auto;
    }

    .clouds {
         position: absolute;
        height: 385px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .bg_sky,
    .bg_sky_overlay,
    .bg_grass_far,
    .bg_grass_close {
        position: absolute;
        width: 100%;
        height: 385px;
        margin: 0 auto;
    }

    .bg_sky {
        z-index: 15;
        background: transparent url('../../img/headerGraphic/bg_sky.png') top center repeat-x;
    }

    .bg_sky_overlay {
        z-index: 20;
        background: transparent url('../../img/headerGraphic/bg_sky_overlay.png') top center repeat-x;
    }

    .bg_grass_far {
        z-index: 25;
        background: transparent url('../../img/headerGraphic/bg_grass_far.png') top center repeat-x;
    }

    .bg_grass_close {
        z-index: 30;
        background: transparent url('../../img/headerGraphic/bg_grass_close.png') bottom center repeat-x;
    }
    
    .sun,
    .cloud01,
    .cloud02,
    .cloud03,
    .cloud04,
    .cloud05 {
        position: absolute;
        margin: 0 auto;
    }

    .sun {
        width: 187px;
        height: 152px;
        top: 69px;
        z-index: 40;
        background: transparent url('../../img/headerGraphic/sun01.png') center center no-repeat;
    }

    .cloud01 {
        width: 230px;
        height: 100px;
        top: 115px;
        z-index: 43;
        background: transparent url('../../img/headerGraphic/cloud01.png') center center no-repeat;
    }

    .cloud02 {
        width: 170px;
        height: 90px;
        top: 137px;
        z-index: 45;
        background: transparent url('../../img/headerGraphic/cloud02.png') center center no-repeat;
    }

    .cloud03 {
        width: 90px;
        height: 80px;
        top: 115px;
        z-index: 44;
        background: transparent url('../../img/headerGraphic/cloud03.png') center center no-repeat;
    }

    .cloud04 {
        width: 200px;
        height: 110px;
        top: 132px;
        z-index: 46;
        background: transparent url('../../img/headerGraphic/cloud04.png') center center no-repeat;
    }

    .cloud05 {
        width: 90px;
        height: 70px;
        top: 117px;
        z-index: 48;
        background: transparent url('../../img/headerGraphic/cloud05.png') center center no-repeat;
    }

    /* header graphic Objects */
    .pool, .tent, .tables, .trees {
        position: absolute;
        margin: 0 auto;
    }

    .pool {
        width: 206px;
        height: 65px;
        top: 303px;
        left: 644px;
        z-index: 50;
        background: transparent url('../../img/headerGraphic/object_pool.png') center center no-repeat;
    }

    .tent {
        width: 285px;
        height: 152px;
        top: 234px;
        left: 21px;
        z-index: 50;
        background: transparent url('../../img/headerGraphic/object_tent.png') center center no-repeat;
    }

    .tables {
        width: 210px;
        height: 85px;
        top: 279px;
        left: 336px;
        z-index: 55;
        background: transparent url('../../img/headerGraphic/object_tables.png') center center no-repeat;
    }

    .trees {
        width: 119px;
        height: 98px;
        top: 279px;
        left: 336px;
        z-index: 55;
        background: transparent url('../../img/headerGraphic/object_trees.png') center center no-repeat;
    }

    .trees.first {
        top: 200px;
        left: 288px;
    }

    .trees.second {
        top: 200px;
        left: 588px;
    }
</style>
