<template>
    <a :href="url" class="call-to-balloon js-wiggle" target="_self"></a>
</template>

<script>
    export default {
        props: ['url'],

        data() {
            return {
                element: {}
            }
        },

        mounted() {
            this.element = $('.js-wiggle');
            this.wiggle();
        },

        methods: {
            wiggle() {
                this.element.animate({top: 80}, 600, () => this.element.animate({top: 74}, 600, () => this.wiggle()));
            }
        }
    }
</script>

<style scoped>
    .call-to-balloon {
        position: absolute;
        height: 63px;
        width: 153px;
        top: 76px;
        right: 48px;
        background: transparent url('../../img/nav-call-to-balloon.png') top center no-repeat;
    }
</style>
